body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px!important;
  line-height: 1.6;
  color: #333;
  overflow: hidden;
}

#root {
    height: 100%;
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #ccc;
}

.fretboard {
    width: 1000px;
}

canvas {
    width: 1000px;
    height: 200px;
}

p {
    color: #666;
    margin: 2em 0;
}

.ui.dropdown {
    color: #666;
}

.ui.checkbox label, .ui.checkbox+label {
    color: #666!important;
}

p strong {
    color: #333;
}

.ui.selection.dropdown {
    border: none !important;
    box-shadow: none !important;
    background-color: #f8f8f8 !important;
    vertical-align: middle;
    margin: 0 1em 0 0;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: #6666ff;
}


.ui.search > .ui.input {
    width: 100%;
}

.ui.search > .ui.input > input {
    border: none;
    border-radius: 4px;
    background: #f8f8f8;
}

.ui.search .message.empty .header {
    color: #333;
}

.ui.search .message.empty .description {
    color: #666;
}

.ui.search .results {
    max-height: 20.83rem;
    overflow: auto;
    background: #f8f8f8;
}

.ui.category.search>.results .category .result:hover, .ui.search>.results .result:hover {
    /* background: #f0f0f0; */
    background: #ededff;
}
